##############################################
# Standard .NET / Visual Studio Exclusions
##############################################
# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio user/cache files
.vs/
*.suo
*.user
*.userprefs

# NuGet packages (already installed by build)
*.nupkg
[Pp]ackages/